<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CPAP Dashboard</title>

  <!-- Stylesheets -->
  <link rel="icon" href="/images/lungs-fill.svg" />
  <link rel="stylesheet" href="/scripts/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bsTable/dist/bootstrap-table.min.css" />
  <link rel="stylesheet" href="/bsTable/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css" />
  <link rel="stylesheet" href="/icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Scripts -->
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/scripts/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/bsTable/dist/bootstrap-table.min.js"></script>
  <script src="/bsTable/dist/locale/bootstrap-table-en-US.min.js"></script>
  <script src="/bsTable/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
  <script>
    var data = <%- JSON.stringify(dbData) %>;
  </script>
</head>

<body>
  <div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
      <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top">
        <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
          <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 text-light">CPAP<span class="d-none d-sm-inline text-light"> Dashboard</span></span>
          </a>

          <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a href="/" class="nav-link px-sm-0 px-2 text-light">
                <i class="fs-5 bi bi-house-door-fill"></i>
                <span class="ms-2 d-none d-sm-inline">Home</span>
              </a>
            </li>
            <li>
              <a href="/fourteen" onclick="window.open(this.href,'_self')" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2 text-light">
                <i class="fs-5 bi-calendar-week"></i>
                <span class="ms-2 d-none d-sm-inline">Last 14</span>
              </a>
            </li>
            <li>
              <a href="/thirty" class="nav-link px-sm-0 px-2 text-light">
                <i class="fs-5 bi-calendar3"></i>
                <span class="ms-2 d-none d-sm-inline">Last 30</span>
              </a>
            </li>
            <li>
              <a href="/database" class="nav-link px-sm-0 px-2 text-light">
                <i class="fs-5 bi-database"></i>
                <span class="ms-2 d-none d-sm-inline">Database</span>
              </a>
            </li>
            <li>
              <a href="/parts" class="nav-link px-sm-0 px-2 text-light">
                <i class="fs-5 bi-wrench"></i>
                <span class="ms-2 d-none d-sm-inline">Parts Lifecycle</span>
              </a>
            </li>
          </ul>

          <div class=" mb-lg-3 form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
            <label class="form-check-label text-light" for="flexSwitchCheckDefault">Light</label>
          </div>
        </div>
      </div>