<%- include('partials/headAndSide') %>

<div class="col d-flex flex-column h-sm-100 mainSection mainSectionDark">
  <main class="row overflow-auto">
    <div class="col pt-4">
      <h1 class="text-light text-center pageHeader">Welcome to your CPAP Dashboard</h1>
      <div class="d-flex flex-wrap flex-row justify-content-center mb-5">
        <h3 class="text-light" id="startDate">Dash </h3>
        <h3 class="text-light"> &nbsp; - &nbsp; </h3>
        <h3 class="text-light" id="endDate"> Board</h3>
      </div>
      <!-- large chart -->
      <div class="d-flex flex-no-wrap flex-col justify-content-around chartGroup">

        <div class="col-sm-10">
          <h1 class="text-light chartHeader text-center"></h1> <canvas id="myChartInitial"></canvas>
        </div>

      </div>

      <!-- thankyou speech -->
      <div class="container col-sm-10">
        <h3 class="text-light mt-5 mb-0">This is your CPAP Dashboard</h3>
        <p class="lead text-light">Continuous Positive Airway Pressure, or CPAP, machines are an essential therapy for those diagnosed with Sleep Apnea.</p>
        <p class="lead text-light">The data is just as valuable as the treatment the machine provides, but the information is safeguarded through a security wall of medical providers and medical supply stores. This resource is designed to provide comprehensive and real-time access to your medical data.</p>
        <hr />

        <h4 class="text-light mt-5 mb-1">The 14 and 30 Day View</h4>
        <p class="text-light">View charted and tabled information for your machine's usage: duration of hours used, amount of days missed, maximum pressure of therapy, and apnea-hypopnea index (AHI).</p>
        <h4 class="text-light mt-4 mb-1">Database</h4>
        <p class="text-light">The database provides a chart layout of all treatment data, similiarly to how it is displayed in the 14 and 30 Day page.</p>
        <h4 class="text-light mt-4 mb-1">Parts Lifecycle</h4>
        <p class="text-light">Add, view, update, and remove maintenance events across all interchangeable parts for your CPAP machine.</p>
      </div>
      <hr />

      <!-- flex icons -->
      <div class="d-flex flex-wrap flex-row justify-content-around mt-5 initialIconRow">
        <div class="initialIcons d-flex flex-column justify-content-around col-7 col-lg-3 mb-5 p-4">
          <h3 class="text-light text-center">Total Duration</h3>
          <h1 id="hoursUsedIcon" class="text-light text-center align-self-center">100 Hours</h1>
        </div>

        <div class="initialIcons d-flex flex-column justify-content-around col-7 col-lg-3 mb-5 p-4">
          <h3 class="text-light text-center">Days Used</h3>
          <h1 id="daysUsedIcon" class="text-light text-center align-self-center">9 / 14</h1>
        </div>

        <div class="initialIcons d-flex flex-column justify-content-around col-7 col-lg-3 mb-5 p-4">
          <h3 class="text-light text-center">Total Breaths</h3>
          <h1 id="totalBreathsIcon" class="text-light text-center">100,000</h1>
        </div>
      </div>

      <!-- next set of charts -->
      <div class="d-flex flex-wrap flex-row justify-content-around chartGroup">

        <div class="col-sm-10 col-lg-5 mt-5 w-15 h-15">
          <h1 class="text-light chartHeader text-center">Fun Polar Chart</h1> <canvas id="polarchart"></canvas>
        </div>

        <div class="col-sm-10 col-lg-5 mt-5 w-15 h-15">
          <h1 class="text-light chartHeader text-center">Usage</h1> <canvas id="overFour"></canvas>
        </div>

      </div>

      <div class="d-flex flex-wrap flex-row justify-content-around chartGroup">

        <div class="col-sm-10 col-lg-5 mt-5">
          <h1 class="text-light chartHeader text-center">Pressure</h1> <canvas id="pressureChart"></canvas>
        </div>

        <div class="col-sm-10 col-lg-5 mt-5">
          <h1 class="text-light chartHeader text-center">AHIs</h1> <canvas id="AHIchart"></canvas>
        </div>

      </div>


    </div>
  </main>



  <script src="/js/home.js"></script>
  <%- include('partials/footer') %>