<%- include('partials/headAndSide') %>

<div class="col d-flex flex-column h-sm-100 mainSection mainSectionDark">
  <main class="row overflow-auto">
    <div class="col pt-4">
      <h1 class="text-light text-center pageHeader">Thirty Day Dashboard</h1>

      <div class="d-flex flex-wrap flex-row justify-content-center mb-5">
        <h3 class="text-light" id="startDate">Dash </h3>
        <h3 class="text-light"> &nbsp; - &nbsp; </h3>
        <h3 class="text-light" id="endDate"> Board</h3>
      </div>

      <div class="d-flex flex-wrap flex-row justify-content-around initialIconRow">
        <div class="initialIcons d-flex flex-column justify-content-around col-7 col-lg-3 mb-5 p-4">
          <h3 class="text-light text-center">Total Duration</h3>
          <h1 id="hoursUsedIcon" class="text-light text-center align-self-center">100 Hours</h1>
        </div>

        <div class="initialIcons d-flex flex-column justify-content-around col-7 col-lg-3 mb-5 p-4">
          <h3 class="text-light text-center">Days Used</h3>
          <h1 id="daysUsedIcon" class="text-light text-center align-self-center">9 / 14</h1>
        </div>

        <div class="initialIcons d-flex flex-column justify-content-around col-7 col-lg-3 mb-5 p-4">
          <h3 class="text-light text-center">Total Breaths</h3>
          <h1 id="totalBreathsIcon" class="text-light text-center">100,000</h1>
        </div>
      </div>


      <div class="d-flex flex-wrap flex-row justify-content-around chartRow">

        <div class="col-10 col-lg-5 mb-5">
          <h2 class="text-light text-center">Duration</h2> <canvas id="durationChart"></canvas>
        </div>

        <div class="col-10 col-lg-5 mb-5">
          <h2 class="text-light text-center">Usage</h2> <canvas id="usedChart"></canvas>
        </div>

      </div>

      <h2 class="text-light text-center">Usage Data</h2>
      <div class="container col-lg-10 table-responsive-lg">
        <table class="table table-hover table-sm table-striped table-bordered mb-5">
          <thead class="sticky-top">
            <tr>
              <th class="text-light text-center" scope="col">Date</th>
              <th class="text-light text-center" scope="col">Hours</th>
              <th class="text-light text-center" scope="col">AHI</th>
              <th class="text-light text-center" scope="col">Breaths</th>
              <th class="text-light text-center" scope="col">Pressure</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div class="d-flex flex-wrap flex-row justify-content-around chartRow">

        <div class="col-10 col-lg-5 mb-5">
          <h2 class="text-light text-center">Max Pressure</h2> <canvas id="pressureChart"></canvas>
        </div>

        <div class="col-10 col-lg-5 mb-5">
          <h2 class="text-light text-center">Apnea-Hypopnea Index</h2> <canvas id="ahiIndex"></canvas>
        </div>

      </div>

    </div>
  </main>



  <script src="/js/thirty.js"></script>
  <%- include('partials/footer') %>