/* palette
#222831
#393E46
#D65A31
#EEEEEE */

/* URl for the bootstrap sidebar
https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb */

.toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    --light: #f8f9fa;
    --dark: #212529;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    /* border: 2px solid var(--dark); */
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 5px;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    -webkit-box-shadow: inset 5px -4px 0px 0px var(--light);
    box-shadow: inset 5px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}


.mainSection {
    background-color: #EEEEEE;
}

.mainSectionDark {
    background-color: #222831;
}

.sticky-top {
    background-color: #d65a31;

}


#fourteenUsed,
#myChartThree {
    max-height: 17rem;
}

.initialIcons {
    background-color: #EEEEEE40;
    border-radius: 15px;
}

.initialIconsDark {
    background-color: #22283140;
    border-radius: 15px;
}

table {
    display: table;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

div.table-responsive-lg {
    max-height: 70vh;
    overflow-y: scroll;
    border-collapse: separate;
}

thead.sticky-top {
    position: sticky;
    /* cheap way to overcome lack of border when scrolling */
    box-shadow: 0 -1px #ccc, 0 1px #ccc;
}

td {
    text-align: center;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 45vw;
}

/* this is needed to make the content scrollable on larger screens */
@media (min-width: 725px) {
    .h-sm-100 {
        height: 100%;
    }

    table th,
    table td {
        font-size: 1.5rem;
    }

}

@media (max-width:725px) {
    .chartHeader {
        margin-top: 1.5rem;
    }

    table th,
    table td {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    /* Only apply on large formats */
    /* Hide scrollbar */
    ::-webkit-scrollbar {
        width: 0;
    }

    /* Optional */
    /* Hide scrollbar track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }
}