/* palette
#222831
#393E46
#D65A31
#EEEEEE */

/* URl for the bootstrap sidebar
https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb */


.mainSection {
    background-color: #EEEEEE;
}

.mainSectionDark {
    background-color: #222831;
}

.sticky-top {
    background-color: #d65a31;

}


#fourteenUsed,
#myChartThree {
    max-height: 17rem;
}

.initialIcons {
    background-color: #EEEEEE40;
    border-radius: 15px;
}

.initialIconsDark {
    background-color: #22283140;
    border-radius: 15px;
}

table {
    display: table;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

div.table-responsive-lg {
    max-height: 70vh;
    overflow-y: scroll;
    border-collapse: separate;
}

thead.sticky-top {
    position: sticky;
    /* cheap way to overcome lack of border when scrolling */
    box-shadow: 0 -1px #ccc, 0 1px #ccc;
}

td {
    text-align: center;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 45vw;
}

/* this is needed to make the content scrollable on larger screens */
@media (min-width: 725px) {
    .h-sm-100 {
        height: 100%;
    }

    table th,
    table td {
        font-size: 1.5rem;
    }

}

@media (max-width:725px) {
    .chartHeader {
        margin-top: 1.5rem;
    }

    table th,
    table td {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    /* Only apply on large formats */
    /* Hide scrollbar */
    ::-webkit-scrollbar {
        width: 0;
    }

    /* Optional */
    /* Hide scrollbar track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }
}